@import "tailwindcss";

body {
    background-image: url(/background/noise.png);
    background-repeat: repeat;
    background-size: 200px 200px;
    background-color: #18181B;
}

@theme {
    --font-roboto-mono: var(--font-roboto-mono);
    --font-inter: var(--font-inter);
}

@layer base {
    body {
        @apply text-gray-100;
    }
}
